body {
    color: seagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;

}

.center {
    text-align: center;
    width: 50%;
    margin: auto;
}

.left {
    width: 30%;
    text-align: center;
    margin: auto;
    align-self: flex-start;
}

.right {
    width: 30%;
    text-align: center;
    margin: auto;
    align-content: flex-end;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

