body{
    background-color: aqua;
}

p {
    color: gray;
    margin: auto;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

a {
    color: gray;
}

h1 {
    margin:auto;
    width: 50%;
    color:mediumslateblue;
}

div.intro {
    background-color: white;
    color: black;
}

div.time {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}