body{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: gray;
}

p {
    margin: auto;
    width: 100%;
}

a {
    color: gray;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px black;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: mediumslateblue;
}

div.center {
    text-align: center;
    width: 50%;
    margin: auto;
}

div.intro {
    background-color: white;
    width: 60%;
    margin: auto;
    color: black;
}

div.languages {
    background-color: white;
    width: 60%;
    margin: auto;
    color: black;
}

div.time {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}